body {
    border: 1px solid #111;
    padding: 20px;
    margin: 20px;
}

nav {
    padding: 10px 20px;
    background-color: #8fe182;
    border-bottom: 20px solid #ddd;
    border-top: 1px solid #111;
    width: 95%;
    margin: 0 auto;
    display: block;
}

nav a[data-element="logo"] img {
    height: 55px;
    width: auto;
    display: inline-block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    text-align: center;
}

ul li {
    display: inline-block;
    margin: 0 10px;
}

ul li a {
    display: inline-block;
    text-decoration: none;
}

ul li a img {
    height: 30px;
    width: auto;
}

ul li a:hover img {
    opacity: 0.8;
}

main {
    border: 1px solid #111;
    background-color: #cac1c1bd;
}

main img {
    height: 150px;
    width: auto;
    float: right;
    margin-right: 20px;
    text-align: justify;
    padding-top: 20px;
    padding-right: 15px;
}

main a[data-element="foto"] img {
    height: 150px;
    width: auto;
    float: left;
    margin-right: 20px;
    text-align: justify;
    padding-left: 15px;
}

#container {
    overflow: hidden;
}

#cell1,
#cell2 {
    float: left;
    width: 48%;
    height: 200px;
    margin-right: 2%;
    box-sizing: border-box;
    border: 1px solid #111;
    padding: 10px;
    text-align: center;
}

#cell1 {
    background-color: #f4f4f4;
    margin-left: 8px;
}

#cell2 {
    background-color: #e0e0e0;
    margin-right: 0;
}

#cell3 {
    clear: both;
    width: 95%;
    height: 200px;
    background-color: #ccc;
    border: 1px solid #111;
    padding: 10px;
    text-align: center;
    margin-left: 8px;
}

footer {
    border: 1px solid #111;
}