body {
    border: 1px solid #111;
    padding: 20px;
    margin: 20px;
}

nav {
    padding: 10px 20px;
    background-color: #8fe182;
    border-bottom: 20px solid #ddd;
    border-top: 1px solid #111;
    width: 95%;
    margin: 0 auto;
    display: block;
}

nav a[data-element="logo"] img {
    height: 55px;
    width: auto;
    display: inline-block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    text-align: center;
}

ul li {
    display: inline-block;
    margin: 0 10px;
}

ul li a {
    display: inline-block;
    text-decoration: none;
}

ul li a img {
    height: 30px;
    width: auto;
}

ul li a:hover img {
    opacity: 0.8;
}

main {
    border: 1px solid #111;
    background-color: #cac1c1bd;
}

main img {
    height: 150px;
    width: auto;
    float: right;
    margin-right: 20px;
    text-align: justify;
    padding-top: 20px;
    padding-right: 15px;
}

main a[data-element="foto"] img {
    height: 150px;
    width: auto;
    float: left;
    margin-right: 20px;
    text-align: justify;
    padding-left: 15px;
}

#container {
    overflow: hidden;
    /* Assicura che i float non causino problemi di layout */
}

/* Stile per le celle superiori */
#cell1,
#cell2 {
    float: left;
    /* Posiziona le celle a sinistra */
    width: 48%;
    height: 200px;
    /* Larghezza delle celle superiori, lasciando spazio per il margine */
    margin-right: 2%;
    /* Spazio tra le due celle superiori */
    box-sizing: border-box;
    border: 1px solid #111;
    /* Bordi sottili per le celle */
    padding: 10px;
    /* Spazio interno delle celle */
    text-align: center;
    /* Allinea il testo al centro */
}

/* Stile per la prima cella superiore */
#cell1 {
    background-color: #f4f4f4;
    /* Colore di sfondo per la prima cella */
    margin-left: 8px;
}

/* Stile per la seconda cella superiore */
#cell2 {
    background-color: #e0e0e0;
    /* Colore di sfondo per la seconda cella */
    margin-right: 0;
    /* Nessun margine a destra per l'ultima cella */
}

/* Stile per la cella grande sottostante */
#cell3 {
    clear: both;
    /* Rimuove l'effetto di float per posizionare la cella grande sotto */
    width: 95%;
    height: 200px;
    /* Occupa tutta la larghezza del contenitore */
    background-color: #ccc;
    /* Colore di sfondo per la cella grande */
    border: 1px solid #111;
    /* Bordo per la cella grande */
    padding: 10px;
    /* Spazio interno della cella grande */
    text-align: center;
    /* Allinea il testo al centro */
    margin-left: 8px;
}

footer {
    border: 1px solid #111;
}